/* taking user search input design */

#usersearch {
    border: 2px solid black;
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    /* background-color: coral; */
    /* border: 1px solid #ffffff8a; */

}

#userinput {
    color: gold;
    /* text-transform: capitalize; */
    /* border: 1px solid white; */
    text-align: center;
    font-size: 15px;

}

#useroutput {

    color: gold;


}







/* products */


.product {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 10px; */
    row-gap: 10px;
    column-gap: 10px;

    /* border: 2px solid red; */
}


.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    /* background-color: coral; */
    border: 1px solid #ffffff8a;
    border-top: none;
    border-right: none;
}

.img-name {
    padding-top: 5px;

    color: #ffffff8a;
    text-transform: capitalize;
    /* border: 1px solid white; */
    text-align: center;
    font-size: 15px;


    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.download-container {
    /* border: 1px solid red; */
    width: 100%;
    padding-left: 4px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}

#free {
    color: green;
    font-family: 'Barriecito';
    text-transform:uppercase ;
    font-size: 20px;
}

/*main responsive */



/* small phones */

@media only screen and (max-width:350px) {


    .product {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* padding: 10px; */
    }
    
    .product-item {
        padding-bottom: 20px;
        border-left: none;

    }
}

@media (min-width:350px) and (max-width:490px) {
    .product {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* padding: 10px; */
    }
    .product-item {
        padding-bottom:20px;
        border-left: none;
    }


}

@media (min-width:490px) and (max-width:675px) {
    .product {
        grid-template-columns: 1fr;
    }
    .product-item {
        padding-bottom:20px;
        border-left: none;
    }
}

/* tablets */
@media (min-width:675px) and (max-width:880px) {
    .product {
        grid-template-columns: 1fr;
    }
    .product-item {
        padding-bottom:20px;
        border-left: none;
    }
}

/* desktop */
@media (min-width:880px) and (max-width:995px) {
    .product {
        grid-template-columns: 1fr 1fr;
    }
}

/* big desktop */
@media (min-width:995px) and (max-width:1100px) {
    .product {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1100px) and (max-width:1200px) {
    .product {
        grid-template-columns: 1fr 1fr;
    }

    #title{
        bottom: 20px;
    }
}

@media only screen and (min-width:1200px){
    #title{
        bottom: 0px;
    }
}